<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf8">
        <title>INSERT CUSTOM TITLE HERE</title>
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <!-- CSS Reset -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <!-- Milligram CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
        <!-- Semantics CSS -->
        <link rel="stylesheet" type="text/css" href="/static/semantics.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/">INSERT APP BRAND NAME HERE</a>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/<FORM_PAGE_PATH>">Predict</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <header>
                <h1>INSERT PAGE HEADING HERE</h1>
            </header>
            <section>
                INSERT APP CALL-TO-ACTION HERE
            </section>
            <section>
                INSERT PREDICTIVE MODEL MODIVATION, DETAILS, ETC. HERE
            </section>
        </main>
    </body>
</html>
